.primary-button {
    background-color: var(--color-second);
    text-decoration: none;
    color: var(--color-primary);
    border-radius: 4px; /*cantos arredondados*/
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;

}