.main-header {
    display: flex; /*para deixar o menu ao lado do logo:*/
    align-items: center; /*para alinhar o logo e a navegação ao centro:*/
    justify-content: space-between; /*para mover o logo para esquerda e o menu para a direita:*/

}

.main-header > .main-logo {
    font-size: 20px;
}