.main-vs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-vs > .vs {
  font-family: "Bitter";
  font-size: 60pt;
  font-weight: bold;
  color: var(--color-base);
  opacity: 0.4;
  margin-left: 30px;
}

.main-vs > .esquerta-img {
  margin-right: 100px;
  width: 130px;
}

.main-vs > .direita-img {
  margin-left: 100px;
}
